.profile-img-cont {
  width: 13rem;
  height: 13rem;
}


.profile-img-cont img {
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 5px #333;
}

.profile-info span {
  font-weight: 700;
}

label, small {
  color: #9b9b9b;
}

